header {
  display: flex;
  img {
    animation: header-logo-spin infinite 20s linear;
    height: 10vmin;
    pointer-events: none;
  }
  h1 {
    color: darkmagenta;
  }
}

main {
  p {
    color: darkred;
    font-style: italic;
    font-weight: bold;
    font-size: 1.1rem;
  }
}

@keyframes header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hovered-block {
  padding: 20px;
  color: white;
  background-color: lightblue;
  &:hover {
    background-color: lightgreen;
  }
  transition: background-color 300ms;
}
